<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default"
>

<body layout:fragment="content">
    <div class="text-center py-5">
        <img src="/images/header.png" class="w-25">
    </div>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">QuIPV</h1>
            <p class="lead">Visualisation software for BathSDR (Bath Social &amp; Development Development Ltd)</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="/visualisation" role="button">Access Visualisation</a> <br> <br>
            <a class="btn btn-primary btn-lg" href="/registration" role="button">Register New User</a>
        </div>
    </div>
</body>
</html>
