<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title> QuiPV </title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div id="header" style="text-align: center;"> <img src="/images/header.png">
    <h1>QuIPV</h1>
    <p>Visualisation software for BathSDR (Bath Social &amp; Development
        Development Ltd) </p>
    <p>Get your visualisation <a href="/visualisation">here</a></p>
</div>
</body>
</html>
