<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default"
>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body layout:fragment="content">
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 class="mb-4">
                Create a new user
            </h1>
            <div th:if="${param.successful}" class="alert alert-success" role="alert">
                Successfully created new user! <br>
                <a href="/visualisation">Get your visualisation here</a>
            </div>
            <form action="#" th:action="@{/registration}" method="post" th:object="${userForm}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Username">
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger" role="alert"></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert"></div>
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Repeat password</label>
                    <input type="password" class="form-control" id="repeatPassword" name="passwordConfirm" placeholder="Repeat password">
                    <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="alert alert-danger" role="alert"></div>
                </div>
                <button type="submit" class="btn btn-primary">Create user</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>