<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default"
>
<head>
    <link rel="stylesheet" href="/css/visualisation.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/js/saveSvgAsPng.js"></script>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }
        .sidenav {
            height: 100%;
            width: 0px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            opacity: 0.9;
            background-color: #009698;
            overflow-x: hidden;
            padding-top: 20px;
        }
        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #F9F0F0;
            display: block;
        }
        .sidenav a:hover {
            color: #B3B3B3;
        }
        .sidenav .closeButton {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        #main {
            padding: 16px;
        }
        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }
        /* The alert message box */
        .alert {
            padding: 20px;
            background-color: #f44336; /* Red */
            color: white;
            margin-bottom: 15px;
        }
        /* The alert message box */
        .alert2 {
            padding: 20px;
            background-color: orange;
            color: white;
            margin-bottom: 15px;
        }
        /* The success message box */
        .success {
            padding: 20px;
            background-color: #77b300;
            color: white;
            margin-bottom: 15px;
        }
        /* The close button */
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }

        .list{
            
            font-size: 25px;
            color: #F9F0F0;
        }

    </style>

</head>

<body layout:fragment="content">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closeButton" onclick="closeNav()">&times;</a>

    <script>
        function screenshot(){
            html2canvas(document.querySelector("body")).then(function(canvas) {
                var image = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
            console.log(image);
            window.location.href=image;
        });
        }
    </script>

    <a href="javascript:;" onClick="openCloseImportData()">Import Data</a>
    <div id="importDataContent" style="display:none;">
        <form method="POST" enctype="multipart/form-data" th:action="@{/visualisation/upload?{key}={value}(key=${_csrf.parameterName},value=${_csrf.token})}">
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="projectName" name="projectName" placeholder="Enter project name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <input type="file" id="file1" name="file" hidden="hidden"/>
                    <button type="button" id="custom_button1" class="btn btn-light btn-block">Upload Maintable</button>
                </div>
                <div>
                    <span id="custom_text1">No file selected</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <input type="file" id="file2" name="file" hidden="hidden"/>
                    <button type="button" id="custom_button2" class="btn btn-light btn-block">Upload Sankey</button>
                </div>
                <div>
                    <span id="custom_text2">No file selected</span>
                </div>
            </div>
            <br>
            <div class="row text-center" style="display:none;">
                <div class="col-sm-12">
                    <input type="submit" id="formUpload" class="btn btn-light" value="Upload" />
                </div>
            </div>
        </form>

        <div class="row text-center">
            <div class="col-sm-12">
                <button id="uploadButton" class="btn btn-light">Upload Files</button>
            </div>
        </div>

        <br>

        <div class="row text-center">
            <div class="col-sm-12" id="projectNameAlert" style="display:none;">
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Error</strong> Please enter a project name
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-12" id="maintableUploadAlert" style="display:none;">
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Error</strong> Please upload maintable
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12" id="sankeyUploadAlert" style="display:none;">
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Error</strong> Please upload sankey
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-12" id="mainFileTypeAlert" style="display:none;">
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Error</strong> Please ensure Maintable has correct file type
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12" id="sankeyFileTypeAlert" style="display:none;">
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Error</strong> Please ensure Sankey has correct file type
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12" id="uploadSuccess" style="display:none;">
                <div class="success">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Success</strong> All files successfully uploaded
                </div>
            </div>
        </div>

        <script type="text/javascript">
            realFileButton1 = document.getElementById("file1");
            customButton1 = document.getElementById("custom_button1");
            customText1 = document.getElementById("custom_text1");
            customButton1.addEventListener("click", function(){
                realFileButton1.click();
            });
            var maintableUploaded= 0;
            realFileButton1.addEventListener("change", function(){
                if(realFileButton1.value){
                    customText1.innerHTML = realFileButton1.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
                    maintableUploaded = 1;
                }
                else{
                    customText1.innerHTML = "No file selected";
                    maintableUploaded = 0;
                }
            });
            realFileButton2 = document.getElementById("file2");
            customButton2 = document.getElementById("custom_button2");
            customText2 = document.getElementById("custom_text2");
            customButton2.addEventListener("click", function(){
                realFileButton2.click();
            });
            var sankeyUploaded = 0;
            realFileButton2.addEventListener("change", function(){
                if(realFileButton2.value){
                    customText2.innerHTML = realFileButton2.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
                    sankeyUploaded = 1;
                }
                else{
                    customText2.innerHTML = "No file selected";
                    sankeyUploaded = 0;
                }
            });
            document.getElementById("uploadButton").addEventListener("click", function (){
                document.getElementById('projectNameAlert').style.display = 'none';
                document.getElementById('maintableUploadAlert').style.display = 'none';
                document.getElementById('sankeyUploadAlert').style.display = 'none';
                document.getElementById('mainFileTypeAlert').style.display = 'none';
                document.getElementById('sankeyFileTypeAlert').style.display = 'none';
                document.getElementById('uploadSuccess').style.display = 'none';

                if(projectName() === false) {
                    document.getElementById('projectNameAlert').style.display = 'block';
                }

                if(maintableFileValidation() === false){
                    document.getElementById('mainFileTypeAlert').style.display = 'block';
                }
                if(sankeyFileValidation() === false){
                    document.getElementById('sankeyFileTypeAlert').style.display = 'block';
                }

                if(maintableUploaded === 0){
                    document.getElementById('maintableUploadAlert').style.display = 'block';
                    document.getElementById('mainFileTypeAlert').style.display = 'none';
                }
                if(sankeyUploaded === 0) {
                    document.getElementById('sankeyUploadAlert').style.display = 'block';
                    document.getElementById('sankeyFileTypeAlert').style.display = 'none';
                }

                if(maintableUploaded === 1  && sankeyUploaded === 1  && projectName() === true && maintableFileValidation() === true && sankeyFileValidation() === true){
                    document.getElementById('uploadSuccess').style.display = 'block';
                    document.getElementById("formUpload").click();
                }
            });
            function maintableFileValidation() {
                var fileInput = document.getElementById('file1');
                var filePath = fileInput.value;
                var allowedExtensions = /(\.csv)$/i;
                if (!allowedExtensions.exec(filePath)) {
                    return false;
                }
                else{return true;}
            }
            function sankeyFileValidation() {
                var fileInput = document.getElementById('file2');
                var filePath = fileInput.value;
                var allowedExtensions = /(\.csv)$/i;
                if (!allowedExtensions.exec(filePath)) {
                    return false;
                }
                else{return true;}
            }

            function projectName(){
                var input = document.getElementById("projectName");
                if (input && input.value) {
                    return true;
                }
                else{return false;}
            }
        </script>
        <hr/>
    </div>


    <a href="javascript:;" onClick="openCloseProjects()">Projects</a>
    <div id="projectsContents" style="display:none;">
        <div>
            <ol class="list">
                <li th:each="project: ${projectList}">
                    <a th:href="@{/visualisation/pid={pid}(pid=${project.id})}" th:text="${project.name}"></a>
                </li>
            </ol>
        </div>
        <hr/>
    </div>

    <a href="javascript:;" onClick="openCloseDataSet()">Filters</a>
    <div id="dataSetContent" style="display:none;">
        <h4 href="javascript:;" onClick="openCloseDrivers()">&nbsp;&nbsp;&nbsp;&nbsp;Drivers</h4>
        <div id="driverCheckboxes" style="display:none;"></div>
        <h4 href="javascript:;" onClick="openCloseOutcomes()">&nbsp;&nbsp;&nbsp;&nbsp;Outcomes</h4>
        <div id="outcomeCheckboxes" style="display:none;"></div>

        <hr/>
    </div>

    <a href="javascript:;" onClick="openCloseVis()">Export Visualisation</a>
    <div id="visContent" style="display:none;">
        <div class="row text-center">
            <div class="col-sm-12">
                <input type="text" name="fileName" id="fileName" placeholder="File name">
                <button type="button" id="static" class="btn btn-light" onclick="saveSvgAsPng(document.getElementById('visualisation'), document.getElementById('fileName').value, {backgroundColor: 'white'});"> Export to PNG File </button>
            </div>
        </div>
        <hr/>

    </div>


    <a href="/">Home Page</a>


    <form class="text-center pt-1" th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-outline-light">Sign out</button>
    </form>

</div>

<div>
    <a id="openButton" style="display:block; font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</a>
</div>

<div id="vis" class="main">
    <script src="//d3js.org/d3.v3.js" charset="utf-8"></script>
    <script src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js"></script>
    <script src="/js/visualisation.js"></script>

    <script>
        function saveSvg(svgEl, name) {
            svgEl.setAttribute("xmlns", "http://www.w3.org/2000/svg");
            var svgData = svgEl.outerHTML;
            var preface = '<?xml version="1.0" standalone="no"?>\r\n';
            var svgBlob = new Blob([preface, svgData], {type:"image/svg+xml;charset=utf-8"});
            var svgUrl = URL.createObjectURL(svgBlob);
            var downloadLink = document.createElement("a");
            downloadLink.href = svgUrl;
            downloadLink.download = name;
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }
    </script>
</div>



<div class="slidecontainer">
    <input type="range" class="slider" id="myRange">
    <p>Citation Count: <span id="demo"></span></p>
</div>

<script>
    function openNav() {
        document.getElementById('openButton').style.display = 'none';
        document.getElementById("mySidenav").style.width = "320px";
        document.getElementById("main").style.marginLeft = "320px";

    }
    function closeNav() {
        document.getElementById('openButton').style.display = 'block';
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }
    var i_1= 0;
    function openCloseImportData(){
        if(i_1 === 0) {
            i_1 = 1;
            return document.getElementById('importDataContent').style.display = 'block';
        }
        if(i_1 === 1){
            i_1 = 0;
            return document.getElementById('importDataContent').style.display='none';
        }
    }
    var i_2 = 0;
    function openCloseDataSet(){
        if(i_2 === 0) {
            i_2 = 1;
            return document.getElementById('dataSetContent').style.display = 'block';
        }
        if(i_2 === 1){
            i_2 = 0;
            return document.getElementById('dataSetContent').style.display='none';
        }
    }
    var i_3 = 0;
    function openCloseFormat(){
        if(i_3 === 0) {
            i_3 = 1;
            return document.getElementById('FormatContent').style.display = 'block';
        }
        if(i_3 === 1){
            i_3 = 0;
            return document.getElementById('FormatContent').style.display='none';
        }
    }

    var i_4 = 0;
    function openCloseVis(){
        if(i_4 === 0) {
            i_4 = 1;
            return document.getElementById('visContent').style.display = 'block';
        }
        if(i_4 === 1){
            i_4 = 0;
            return document.getElementById('visContent').style.display='none';
        }
    }

    var i_5 = 0;
    function openCloseProjects(){
        if(i_5 === 0) {
            i_5 = 1;
            return document.getElementById('projectsContents').style.display = 'block';
        }
        if(i_5 === 1){
            i_5 = 0;
            return document.getElementById('projectsContents').style.display='none';
        }
    }

    var i_6 = 0;
    function openCloseDrivers(){
        if(i_6 === 0) {
            i_6 = 1;
            return document.getElementById('driverCheckboxes').style.display = 'block';
        }
        if(i_6 === 1){
            i_6 = 0;
            return document.getElementById('driverCheckboxes').style.display='none';
        }
    }
    var i_7 = 0;
    function openCloseOutcomes(){
        if(i_7 === 0) {
            i_7 = 1;
            return document.getElementById('outcomeCheckboxes').style.display = 'block';
        }
        if(i_7 === 1){
            i_7 = 0;
            return document.getElementById('outcomeCheckboxes').style.display='none';
        }
    }


</script>



</body>
</html>